@font-face {
     font-family: 'Ubuntu';
     src:url('../font/Ubuntu-L.ttf');
}
 @font-face {
     font-family: 'Material Icons';
     font-style: normal;
     font-weight: 400;
     src: url(../iconfont/MaterialIcons-Regular.eot);
    /* For IE6-8 */
     src: local('Material Icons'), local('MaterialIcons-Regular'), url(../iconfont/MaterialIcons-Regular.woff2) format('woff2'), url(../iconfont/MaterialIcons-Regular.woff) format('woff'), url(../iconfont/MaterialIcons-Regular.ttf) format('truetype');
}
 .material-icons {
     font-family: 'Material Icons';
     font-weight: normal;
     font-style: normal;
     display: inline-block;
     width: 1em;
     height: 1em;
     line-height: 1;
     text-transform: none;
     letter-spacing: normal;
     word-wrap: normal;
    /* Support for all WebKit browsers. */
     -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
     text-rendering: optimizeLegibility;
    /* Support for Firefox. */
     -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
     font-feature-settings: 'liga';
}
 body, html {
     margin: 0;
     padding: 0;
     font-family: 'Ubuntu';
     tab-highlight-color: rgba(0,0,0,0);
     -webkit-tap-highlight-color: rgba(0,0,0,0);
     -o-tab-highlight-color: rgba(0,0,0,0);
     -moz-tab-highlight-color: rgba(0,0,0,0);
     -ms-tab-highlight-color: rgba(0,0,0,0);
     color: #333;
     overflow-x: hidden;
}
 input:focus, button:focus, button:active, textarea:focus, select:focus, select:active {
     outline: none;
}
 a {
     text-decoration: none;
}
 button a {
     width: 100%;
     text-align: center;
     color: #fff;
}
/** global styles **/
 div, span, input, textarea, button, ul, li, i, h1, h2, h3, h4, h5, h6, form, textarea, sup, video, table, tr, td, th, tbody, thead {
     float: left;
     box-sizing: border-box;
     position: relative;
}
 img {
     float: left;
}
a.button {
     width: 100%;
}





/** header styles **/
 header {
     width: 100%;
     height: 80px;
     background: #fff;
     position: fixed;
     z-index: 10;
     transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
}
 header.header_up {
     height: 50px;
     transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
}
 header img {
     height: 100%;
}
 header .menuBtn {
     display: none;
     font-size: 25px;
     width: 50px;
     height: 50px;
     text-align: center;
     padding: 12.5px;
     transition: all 0.5s ease-out;
     -webkit-transition: all 0.5s ease-out;
     cursor: pointer;
}
 header .menuBtn.inside {
     margin-left: -20px;
     transition: all 0.5s ease-out;
     -webkit-transition: all 0.5s ease-out;
}
 img.marginImg {
     height: 80%;
     margin-top: 10px;
     margin-bottom: 20px;
}
 header.header_up ul {
     margin-top: 10px;
     transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
}
 header ul {
     list-style-type: none;
     height: 50px;
     padding: 5px;
     right: 0;
     float: right;
     margin-right: 50px;
     margin-top: 30px;
     transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
}
 header ul li {
     margin-right: 40px;

}
 header ul li i {
     font-size: 20px;
     color: #333;
     margin-top: 3px;
     cursor: pointer;
     tab-highlight-color: rgba(0,0,0,0);
     -webkit-tap-highlight-color: rgba(0,0,0,0);
     -o-tab-highlight-color: rgba(0,0,0,0);
     -moz-tab-highlight-color: rgba(0,0,0,0);
     -ms-tab-highlight-color: rgba(0,0,0,0);
}
 header ul li h6 {
     font-size: 15px;
     margin-left: 7px;
     margin-top: 5px;
     font-weight: normal;
}
 header ul li span {
     background: #4286f4;
     width: 23px;
     height: 23px;
     border-radius: 50%;
     -webkit-border-radius: 50%;
     padding: 3px;
     color: #333;
     text-align: center;
     margin-top: -11px;
     margin-left: -15px;
     font-weight: bold;
     font-size: 13px;
}




/** NOty msg and pop **/

.infoTab {
    width: 100%;
    padding: 5px 15px 5px 15px;
    border-bottom: 1px solid #ddd;
    font-size: 11px;
  }
  .infoTab a p {
     padding: 0;
     margin: 0;
     width: 100%;
     color: #aaa;
  }
  .infoTab a p b {
     font-weight: bold;
  }
  .infoTab b {
     font-weight: normal;
  }
  .infoTab .infoAct {
    
    float: right;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
  }
  .msgBox .infoAct {
     color: #AB192D;
  }
  .notyBox .infoAct {
     color: #4286f4;
  }

    .popBox {
       position: fixed;
       width: 300px;
       float: right;
       
       top: 50px;
       z-index: 30;
       background: #fff;
       box-shadow: 0px 10px 10px rgba(58, 58, 58, 0.1);
       display: none;
    }
    .popBox.showPop {
       display: block;
    }
    .msgBox {
       border-top: 3px solid #AB192D;
       right: 30%;
    }
    .notyBox {
       border-top: 3px solid #4286f4;
       right: 26%;
    }
    .msgBox .hD {
       color: #AB192D;
    }
    .notyBox .hD {
       color: #4286f4;
    }
    .msgBox .eD {
       background: #AB192D;
    }
    .notyBox .eD {
       background: #4286f4;
    }
    .bD {
        max-height: 300px;
        overflow-y: auto;
        width: 100%;
    }
    .hD {
       width: 100%;
       padding: 7px;
       font-size: 14px;
       text-align: center;
       font-weight: bold;
    }
    .eD {
       width: 100%;
       margin-top: 15px;
       padding: 5px 10px 5px 10px;
       text-align: center;
       color: #fff;
       font-size: 12px;
    }

    .probBox {
      width: 150px;
      padding: 5px;
      background: #fff;
      box-shadow: 0px 10px 10px rgba(58, 58, 58, 0.3);
      float: right;
      right: 10%;
      position: fixed;
      top: 50px;
      z-index: 30;
      display: none;
  }
  .probBox.showPop{
     display: block;
  }
  .probBox a {
     width: 100%;
  }
  .probBox a span {
     width: 100%;
     font-weight: normal;
     font-size: 14px;
     padding: 7px;
     padding-left: 15px;
     color: #aaa;
  }



/** buttons **/
.btn {
     padding: 5px 10px 5px 10px;
     border-radius: 5px;
     -webkit-border-radius: 5px;
     color: #fff;
     font-size: 10px;
}

.btnGreen {
     background: green;
}
.btnRed {
     background: #C52E38;
}



/** content style **/
 .wrapper {
     width: 100%;
     margin-top: 80px;
}



/**menuTab **/

.menuTab {
  width: 20%;
  position: fixed;
  left: 0;
  top: 50px;
  background: #2E353D;
  height: 100vh;
  overflow-y: auto;
  padding-top: 50px;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
}
.menuTab a {
   width: 100%;
   color: #E1FFFF;
}
.pageTab {
   width: 100%;
   padding: 11px 30px 11px 30px;

}
.pageTab i {
   font-size: 17px;
   margin-top: 1px;
}
.pageTab span {
  font-size: 13px;
   margin-left: 22px;
   font-weight: bold;
} 
.pageTab:hover {
   background: #AB192D;
}
.menuTab.shrink {
     width: 70px;
     padding-top: 50px;
     transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
}
.menuTab.shrink .pageTab {
  padding: 11px 0px 11px 0px;
  width: 100%;
}
.menuTab.shrink .pageTab a{
     width: 100%;
}
.menuTab.shrink .pageTab i {
   width: 100%;
   text-align: center;
}
.menuTab.shrink .pageTab span {
     display: none;
}





.pallete {
   padding-top: 80px;
   min-height: 800px;
   width: 80%;
   float: right;
   transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
}
.pallete.pallete_up {
     padding-top: 50px;
     transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
}
.pallete.pallete_big {
   width: 100%;
   padding-left: 70px;
   transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
}





/** banner **/
.banner {
      padding: 20px 10px 20px 10px;
      width: 100%;
      color: #fff;
      position: fixed;
      height: 70px;
      z-index: 9;
}
.banner .menuBtn {
     color: #fff;
     font-size: 30px;
     cursor: pointer;
}
.banner span {
      margin-left: 40px;
      font-size: 20px;
}






/** color placement **/
.bkSkyBlue {
     background: #0A9CB7;
}
.bkPurple {
     background: #9D73A8;
}
.bkPurpleBlue {
     background: #6F6CAA;
}
.bkDarkPink {
     background: #B7458E;
}
.bkPink {
     background: #DA6086;
}
.bBYellow {
     border-bottom: 3px solid #FAC42C;
}
.bDGreenishBlue {
  border-bottom: 3px solid #00d7ff;
}





/** colums **/
.col4 {
     width: 22%;
     margin: 1.5%;
}



.content{
     width: 100%;
     padding: 20px;
     padding-top: 90px;
}

.boxed {
     width: 100%;
}
.boxHead {
     width: 100%;
     border-bottom: 1px solid #ddd;
}
.boxHeader {
     font-size: 15px;
     font-weight: bold;
     padding-bottom: 6px;
}
.boxBody {
     padding: 20px 0px 20px 0px;
     width: 100%;
}
.pad {
     padding: 15px;
}
.pad i {
     width: 100%;
     text-align: center;
     color: #fff;
     font-size: 35px;
}
.vintage {
     border: 2px solid #fff;
     width: 80%;
     margin-left: 10%;
     color: #fff;
     font-size: 14px;
     text-align: center;
     padding: 5px;
     margin-top: 20px;
}





table.org {
     width: 100%;
}
tbody, thead {
     width: 100%;
}
tr {
     width: 100%;
}
table.org thead {
     background: #F8F8F8;
     font-weight: bold;
     font-size: 13px;
     border-bottom: 2px solid #28A7BE;
}
table.org td, table.org th {
     padding: 10px;
     font-size: 13px;
}
th {
     text-align: left;
}
table.org tr th:nth-child(2), table.org tr th:nth-child(4), table.org tr td:nth-child(2), table.org tr td:nth-child(4) {     
     width: 35%;
}
table.org tr td:nth-child(2), table.org tr td:nth-child(4) {
     background: #fbfbfb;
}
table.org tr th:nth-child(1), table.org tr td:nth-child(1) {
     width: 5%;
     text-align: center;
}
table.org td a {
     margin-right: 10px;
}
table.org td a i {
     font-size: 13px;
     color: #333;
     margin-right: 3px;
     margin-top: 3px;
}
table.org td a span {
     font-size: 13px;
     color: #333;

}




/** course management **/


.bigMenu {
  width: 111px;
  height: 109px;
  border: 3px solid transparent;
  padding: 8px;
}
.bigMenu:hover {
  border: 3px solid #ff7400;
}
.smallMenu {
  width: 100%;
  height: 100%;
  background: #DAE8E7;
  padding: 12px;
  padding-top: 20px;
}
.smallMenu i {
  width: 100%;
  text-align: center;
  color: #00d7ff;
  font-size: 30px;
}
.smallMenu span {
  width: 100%;
  margin-top: 6px;
  font-size: 10px;
  color: #444;
  text-align: center;
}
.bigMenu:hover .smallMenu {
  background: #0a9cb7;
}
.bigMenu:hover .smallMenu i, .bigMenu:hover .smallMenu span {
  color: #fff;
}






/** footer **/

footer {
     width: 100%;
}
 .foot {
     width: 100%;
     text-align: center;
     background: #ce3535;
     color: #fff;
     font-size: 15px;
     padding: 10px;
}
 .power {
     background: #eee;
     width: 100%;
     height: 50px;
}
 .power img {
     float: right;
     height: 100%;
     margin-right: 10%;
}
 .power span {
     color: #aaa;
     font-size: 17px;
     float: right;
     height: 100%;
     padding-top: 13px;
     font-weight: bold;
     margin-right: 5px;
}




 @media(max-width: 1200px) {
   
.pageTab span {
  font-size: 10px;
   margin-left: 20px;
} 
.pageTab i {
   font-size: 15px;
}

}







@media(max-width: 960px) {
     .menuTab {
          width: 70px;
          padding-top: 50px;
     }
     .menuTab .pageTab {
       padding: 11px 0px 11px 0px;
     }
     .menuTab .pageTab i {
        width: 100%;
        text-align: center;
     }
     .menuTab .pageTab span {
          display: none;
     }
     .menuTab.shrink {
          width: 250px;
     }

.menuTab.shrink .pageTab i {
   margin-top: 1px;
   text-align: left;
   width: auto;
   padding-left: 20px;
}
.menuTab.shrink .pageTab span {
  display: block;
} 

     .pallete {
        width: 100%;
        padding-left: 70px;
     }
     .pallete.pallete_big {
          margin-right: -250px;
          padding-left: 0px;
     }
}










 @media(max-width: 800px) {
     header {
         height: 50px;
    }
     header ul {
         margin-top: 10px;
         margin-right: 0px;
    }
     .wrapper {
         margin-top: 50px;
    }
     header ul li {
         margin-right: 20px;
    }
     header ul li i {
         font-size: 20px;
    }
     header ul li h6 {
         font-size: 14px;
    }
     header ul li span {
         width: 20px;
         height: 20px;
         font-size: 12px;
    }

    .pallete {
          padding-top: 50px;
     }



 table.org tr th:nth-child(3), table.org tr th:nth-child(4), table.org tr th:nth-child(5), table.org tr td:nth-child(3), table.org tr td:nth-child(4), table.org tr td:nth-child(5) {     
     width: auto;
}
    
}





 @media(max-width: 768px) {
     table.org tr td a span {
          display: none;
     }



     .col4 {
          width: 47%;
          margin: 1.5%;
     }
     
}





 @media(max-width: 580px) {
    
     header ul li h6 {
         display: none;
    }
 table.org tr th:nth-child(3), table.org tr td:nth-child(3) {     
     display: none;
}

table.org tr th:nth-child(1), table.org tr td:nth-child(1) {     
     display: none;
}


.menuTab {
          width: 250px;
          margin-left: -250px;
     }
     .menuTab .pageTab {
       padding: 11px 0px 11px 0px;
       display: block;
     }
     .menuTab .pageTab i {
        margin-top: 1px;
   text-align: left;
   width: auto;
   padding-left: 20px;
     }
     .menuTab .pageTab span {
          display: block;
     }
     .menuTab.shrink {
          margin-left: 0px;
          z-index: 9;
     }
 

     .pallete {
        width: 100%;
        padding-left: 0px;
     }
     .pallete.pallete_big {
          z-index: 2;
     }

   
}










 @media(max-width: 500px) {
    
     header img {
         display: none;
    }

    .col4 {
          width: 97%;
          margin: 1.5%;
     }

    
}








    @media(max-width: 480px) {
        .popBox {
           width: 90%;
           margin-left: 5%;
           margin-right: 5%;
           right: 0;
        }
        .bD {
          max-height: 75vh;
        }
    }
 